* {
  margin: 0px;
  padding: 0px;
}
body {
  background-image: url("media/background\ \(2\).jpg");
  background-size: cover;
  background-position: center;
}
.navbar {
  display: flex;
  align-items: center;
}
.logo img {
  width: 100px;
  margin-right: 650px;
}
.navbar ul {
  display: flex;
  list-style: none;
  gap: 50px;
}
a {
  font-family: "Roboto Slab";
  text-decoration: none;
  font-size: 17px;
  font-style: inherit;
  color: white;
  cursor: pointer;
}
a:hover {
  border: 1px solid rgb(253, 253, 253);
  color: #497320;
}
.logo :hover {
  border: 1px solid #497320;
}
/* footer */

footer {
  background-color: transparent;
  color: #fff;
  padding: 10px;
  text-align: center;
  margin-top: 60px;
  border-radius: 8px;
  border: 3px solid white;
  position: relative;
}

.footer h2 {
  font-family: "Roboto Slab";
  font-style: inherit;
  font-size: 26px;
  letter-spacing: 2px;
}

.footer p {
  margin: 10px;
}

.social-links {
  margin: 20px;
}

.social-links a {
  margin: 0 15px;
  color: #497320;
  font-size: 24px;
}

.social-links a:hover {
  cursor: pointer;
  color: rgb(173, 231, 141);
}
footer .logo {
  width: 2px;
  height: 2px;
}
.terrain {
  display: flex;
  justify-content: start;
  height: 880px;
  width: 54%;
  background-image: url("media/terrain de foot .jpg");
  background-size: cover;
  position: relative;
}

.bg-form {
  width: 300px;
  background-image: url("media/background\ \(2\).jpg");
  color: #fff;
  margin: auto;
  border: 4px solid white;
  border-radius: 7px;
  display: none;
  margin-bottom: 30px;
}
.ajout-de-footboleur {
  font-family: "Roboto Slab";
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1px;
  margin: 10px;
}
.cadre {
  border: 3px solid white;
  border-radius: 7px;
  margin-bottom: 10px;
}

.button {
  font-family: "Roboto Slab";
  background-color: rgb(226, 251, 226);
  width: 70px;
  height: 30px;
  border: 3px;
  border-radius: 7px;
  margin-inline-start: 220px;
  margin-bottom: 13px;
}
.button:hover {
  background-color: rgb(173, 231, 141);
  color: white;
  cursor: progress;
}

.ab {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.add-i {
  background-color: rgb(163, 255, 127);
  color: black;
  border: 3px;
  border-radius: 7px;
  width: 50px;
  height: 30px;
  margin-inline-end: 14px;
}
.add-i:hover {
  background-color: #89a170;
  color: white;
  cursor: progress;
}
.bg-add-player {
  background-image: url("media/bg-form.jpg");
  font-family: "Roboto Slab";
  border: 4px solid white;
  border-radius: 7px;
  width: 350px;
  height: fit-content;
}
h3 {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  color: white;
  margin-bottom: 10px;
}

.ajout-player {
  display: flex;
  margin-inline-start: 70px;
  justify-content: space-around;
  margin-bottom: 30px;
  align-items: center;
}

.terrain-foot {
  display: flex;
  justify-content: space-around;
}
.select {
  margin-inline-start: 145px;
  background-color: rgb(163, 255, 127);
  border: 4px solid rgb(163, 255, 127);
  border-radius: 7px;
  margin-bottom: 10px;
  width: 70px;
}

video {
  width: 100%;
  margin-bottom: 50px;
}
.j1 {
  height: 50px;
  width: 40px;
  background-color: #fff;
  position: absolute;
  border-radius: 50%;
  top: 180px;
  left: 285px;
}
.j2 {
  height: 50px;
  width: 40px;
  background-color: #fff;
  border-radius: 50%;
  top: 145px;
  left: 430px;
  position: absolute;
}
.j3 {
  height: 50px;
  width: 40px;
  background-color: #fff;
  border-radius: 50%;
  top: 145px;
  right: 430px;
  position: absolute;
}
.j4 {
  height: 50px;
  width: 40px;
  background-color: #fff;
  border-radius: 50%;
  bottom: 500px;
  left: 285px;
  position: absolute;
}
.j5 {
  height: 50px;
  width: 40px;
  background-color: #fff;
  border-radius: 50%;
  bottom: 500px;
  left: 110px;
  position: absolute;
}
.j6 {
  height: 50px;
  width: 40px;
  background-color: #fff;
  border-radius: 50%;
  bottom: 500px;
  left: 455px;
  position: absolute;
}
.j7 {
  height: 50px;
  width: 40px;
  background-color: #fff;
  border-radius: 50%;
  bottom: 410px;
  left: 288px;
  position: absolute;
}
.j8 {
  height: 50px;
  width: 40px;
  background-color: #fff;
  border-radius: 50%;
  bottom: 350px;
  left: 388px;
  position: absolute;
}
.j9 {
  height: 50px;
  width: 40px;
  background-color: #fff;
  border-radius: 50%;
  bottom: 350px;
  left: 190px;
  position: absolute;
}
.j10 {
  height: 50px;
  width: 40px;
  background-color: #fff;
  border-radius: 50%;
  bottom: 250px;
  left: 288px;
  position: absolute;
}
.j11 {
  height: 50px;
  width: 40px;
  background-color: #fff;
  position: absolute;
  border-radius: 50%;
  top: 70px;
  left: 285px;
}
/* 
.j1 {
  height: 50px;
  width: 40px;
  background-color: #fff;
  position: absolute;
  border-radius: 50%;
  bottom: 617px;
  left: 340px;
  background-color: chartreuse;
}
.j2 {
  height: 50px;
  width: 40px;
  background-color: #fff;
  border-radius: 50%;
  top: 145px;
  left: 480px;
  position: absolute;
  background-color: darkblue;
}
.j3 {
  height: 50px;
  width: 40px;
  background-color: #fff;
  border-radius: 50%;
  top: 145px;
  right: 480px;
  position: absolute;
  background-color: red;
}
.j4 {
  height: 50px;
  width: 40px;
  background-color: #fff;
  border-radius: 50%;
  bottom: 500px;
  left: 285px;
  position: absolute;
  background-color: darkgoldenrod;
}
.j5 {
  height: 50px;
  width: 40px;
  background-color: #fff;
  border-radius: 50%;
  bottom: 500px;
  left: 110px;
  position: absolute;
  background-color: darkmagenta;
}
.j6 {
  height: 50px;
  width: 40px;
  background-color: #fff;
  border-radius: 50%;
  bottom: 500px;
  left: 455px;
  position: absolute;
  background-color: blueviolet;
}
.j7 {
  height: 50px;
  width: 40px;
  background-color: #fff;
  border-radius: 50%;
  bottom: 620px;
  left: 230px;
  position: absolute;
  background-color: aqua;
}
.j8 {
  height: 50px;
  width: 40px;
  background-color: #fff;
  border-radius: 50%;
  bottom: 350px;
  left: 430px;
  position: absolute;
  background-color: cadetblue;
}
.j9 {
  height: 50px;
  width: 40px;
  background-color: #fff;
  border-radius: 50%;
  bottom: 350px;
  left: 140px;
  position: absolute;
  background-color: chartreuse;
}
.j10 {
  height: 50px;
  width: 40px;
  background-color: #fff;
  border-radius: 50%;
  bottom: 250px;
  left: 288px;
  position: absolute;
  background-color: dodgerblue;
}
.j11 {
  height: 50px;
  width: 40px;
  background-color: #fff;
  position: absolute;
  border-radius: 50%;
  top: 70px;
  left: 285px;
  background-color: rgb(227, 250, 98);
} */
