* {
  margin: 0px;
  padding: 0px;
}
body {
  background-image: url("../media/background\ \(2\).jpg");
  background-size: cover;
  background-position: center;
}
.navbar {
  display: flex;
  align-items: center;
}
.logo img {
  width: 100px;
  margin-right: 650px;
}

.logo :hover {
  border: 1px solid #497320;
}
/* footer */

footer {
  background-color: aqua;
  color: #fff;
  padding: 10px;
  text-align: center;
  margin-top: 60px;
  border-radius: 8px;
  border: 3px solid white;
  position: relative;
}

.footer h2 {
  font-family: "Roboto Slab";
  font-style: inherit;
  font-size: 26px;
  letter-spacing: 2px;
}

.footer p {
  margin: 10px;
}

.social-links {
  margin: 20px;
}

.social-links a {
  margin: 0 15px;
  color: #497320;
  font-size: 24px;
}

.social-links a:hover {
  cursor: pointer;
  color: rgb(173, 231, 141);
}
footer .logo {
  width: 2px;
  height: 2px;
}
.terrain {
  display: flex;
  justify-content: start;
  height: 880px;
  width: 600px;
  background-image: url("../media/terrain\ de\ foot\ .jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.bg-form {
  width: 300px;
  background-image: url("../media/background\ \(2\).jpg");
  color: #fff;
  margin: auto;
  border: 4px solid white;
  border-radius: 7px;
  display: none;
  margin-bottom: 30px;
}
.ajout-de-footboleur {
  font-family: "Roboto Slab";
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1px;
  margin: 10px;
}
.cadre {
  border: 3px solid white;
  border-radius: 7px;
  margin-bottom: 10px;
}

.button {
  font-family: "Roboto Slab";
  background-color: rgb(226, 251, 226);
  width: 70px;
  height: 30px;
  border: 3px;
  border-radius: 7px;
  margin-inline-start: 220px;
  margin-bottom: 13px;
}
.button:hover {
  background-color: rgb(173, 231, 141);
  color: white;
  cursor: progress;
}

.ab {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.add-i {
  background-color: rgb(163, 255, 127);
  color: black;
  border: 3px;
  border-radius: 7px;
  width: 50px;
  height: 30px;
  margin-inline-end: 14px;
}
.add-i:hover {
  background-color: #89a170;
  color: white;
  cursor: progress;
}
.bg-add-player {
  background-image: url("../media/bg-form.jpg");
  font-family: "Roboto Slab";
  border: 4px solid white;
  border-radius: 7px;
  width: 100%;
  height: fit-content;
}
h3 {
  margin-top: 15px;
  margin-right: 15px;
  font-size: x-large;
  display: flex;
  justify-content: center;
  font-family: "Roboto Slab";
  margin-bottom: 10px;
}

.ajout-player {
  display: flex;
  margin-inline-start: 70px;
  justify-content: space-around;
  margin-bottom: 30px;
  align-items: center;
}

.terrain-foot {
  display: flex;
  justify-content: space-around;
}
.select {
  margin-inline-start: 145px;
  background-color: rgb(163, 255, 127);
  border: 4px solid rgb(163, 255, 127);
  border-radius: 7px;
  margin-bottom: 10px;
  width: 70px;
}

video {
  width: 100%;
  margin-bottom: 50px;
}
.j1 {
  background-color: #fff;
  position: absolute;
  border-radius: 0 !important;
  top: 180px;
  left: 285px;
}

.remove,
.edit {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  background: rgb(240, 10, 10);
  color: white;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.remove:hover,
.edit:hover {
  cursor: pointer;
  background-color: yellow;
  color: black;
}

.edit {
  right: 0;
  left: -10px;
}

.j2 {
  background-color: #fff;
  border-radius: 0 !important;
  top: 145px;
  left: 430px;
  position: absolute;
}
.j3 {
  background-color: #fff;
  border-radius: 0 !important;
  top: 145px;
  right: 430px;
  position: absolute;
}
.j4 {
  background-color: #fff;
  border-radius: 0 !important;
  bottom: 500px;
  left: 285px;
  position: absolute;
}
.j5 {
  background-color: #fff;
  border-radius: 0 !important;
  bottom: 500px;
  left: 110px;
  position: absolute;
}
.j6 {
  background-color: #fff;
  border-radius: 0 !important;
  bottom: 500px;
  left: 455px;
  position: absolute;
}
.j7 {
  background-color: #fff;
  border-radius: 0 !important;
  bottom: 410px;
  left: 288px;
  position: absolute;
}
.j8 {
  background-color: #fff;
  border-radius: 0 !important;
  bottom: 350px;
  left: 388px;
  position: absolute;
}
.j9 {
  background-color: #fff;
  border-radius: 0 !important;
  bottom: 350px;
  left: 190px;
  position: absolute;
}
.j10 {
  background-color: #fff;
  border-radius: 0 !important;
  bottom: 250px;
  left: 288px;
  position: absolute;
}
.j11 {
  background-color: #fff;
  position: absolute;
  border-radius: 0 !important;
  top: 70px;
  left: 285px;
}

/* Média queries */
* {
  margin: 0px;
  padding: 0px;
}

body {
  background-image: url("../media/background\ \(2\).jpg");
  background-size: cover;
  background-position: center;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Ajouté pour une meilleure répartition */
}

.logo img {
  width: 100px;
  margin-right: 0;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 20px; /* Réduit l'espacement sur les petits écrans */
}

a {
  font-family: "Roboto Slab";
  text-decoration: none;
  font-size: 17px;
  color: white;
}

a:hover {
  border: 1px solid rgb(253, 253, 253);
  color: #497320;
}

footer {
  background-color: transparent;
  color: #fff;
  padding: 10px;
  text-align: center;
  margin-top: 60px;
  border-radius: 8px;
  border: 3px solid white;
  position: relative;
}

.footer h2 {
  font-family: "Roboto Slab";
  font-size: 26px;
  letter-spacing: 2px;
}

.footer p {
  margin: 10px;
}

.social-links {
  margin: 20px;
}

.social-links a {
  margin: 0 15px;
  color: #497320;
  font-size: 24px;
}

.social-links a:hover {
  cursor: pointer;
  color: rgb(173, 231, 141);
}

.terrain {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 880px;
  min-width: 50%;
  background-image: url("../media/terrain\ de\ foot\ .jpg");
  background-size: cover;
  position: relative;
}

.bg-form {
  width: 300px;
  background-image: url("../media/background\ \(2\).jpg");
  color: #fff;
  margin: auto;
  border: 4px solid white;
  border-radius: 7px;
  display: none;
  margin-bottom: 30px;
}

.ajout-de-footboleur {
  font-family: "Roboto Slab";
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1px;
  margin: 10px;
}

.cadre {
  border: 3px solid white;
  border-radius: 7px;
  margin-bottom: 10px;
}

.button {
  font-family: "Roboto Slab";
  background-color: rgb(226, 251, 226);
  width: 70px;
  height: 30px;
  border: 3px;
  border-radius: 7px;
  margin-inline-start: 220px;
  margin-bottom: 13px;
}

.button:hover {
  background-color: rgb(173, 231, 141);
  color: white;
  cursor: progress;
}

.ab {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.add-i {
  background-color: rgb(163, 255, 127);
  color: black;
  border: 3px;
  border-radius: 7px;
  width: 50px;
  height: 30px;
  margin-inline-end: 14px;
}

.add-i:hover {
  background-color: #89a170;
  color: white;
  cursor: progress;
}

.bg-add-player {
  background-image: url("../media/bg-form.jpg");
  font-family: "Roboto Slab";
  border: 4px solid white;
  border-radius: 7px;
  width: 350px;
  height: fit-content;
  margin-inline: auto;
}

h3 {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  color: white;
  margin-bottom: 10px;
}

.ajout-player {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select {
  margin-inline-start: 145px;
  background-color: rgb(163, 255, 127);
  border: 4px solid rgb(163, 255, 127);
  border-radius: 7px;
  margin-bottom: 10px;
  width: 70px;
}

video {
  width: 100%;
  margin-bottom: 50px;
}

.terrain-foot {
  display: flex;
  justify-content: space-around;
  gap: 65px;
  margin: 30px;
}

.j1,
.j2,
.j3,
.j4,
.j5,
.j6,
.j7,
.j8,
.j9,
.j10,
.j11 {
  height: 50px;
  width: 50px;
  background-color: #51f60a;
  border-radius: 50%;
  position: absolute;
}
.j1:hover {
  cursor: pointer;
  background-color: rgb(255, 38, 0);
  box-shadow: 0 0 20px rgb(245, 38, 38);
}
.j2:hover {
  cursor: pointer;
  background-color: rgb(166, 30, 148);
  box-shadow: 0 0 20px rgb(245, 38, 38);
}
.j3:hover {
  cursor: pointer;
  background-color: rgb(121, 40, 251);
  box-shadow: 0 0 20px rgb(245, 38, 38);
}
.j4:hover {
  cursor: pointer;
  background-color: rgb(47, 11, 254);
  box-shadow: 0 0 20px rgb(245, 38, 38);
}
.j5:hover {
  cursor: pointer;
  background-color: rgb(255, 187, 0);
  box-shadow: 0 0 20px rgb(245, 38, 38);
}
.j6:hover {
  cursor: pointer;
  background-color: rgb(43, 0, 255);
  box-shadow: 0 0 20px rgb(245, 38, 38);
}
.j7:hover {
  cursor: pointer;
  background-color: rgb(255, 77, 0);
  box-shadow: 0 0 20px rgb(245, 38, 38);
}
.j8:hover {
  cursor: pointer;
  background-color: aqua;
  box-shadow: 0 0 20px rgb(245, 38, 38);
}
.j9:hover {
  cursor: pointer;
  background-color: rgb(251, 146, 111);
  box-shadow: 0 0 20px rgb(245, 38, 38);
}
.j10:hover {
  cursor: pointer;
  background-color: rgb(211, 135, 238);
  box-shadow: 0 0 20px rgb(245, 38, 38);
}
.j11:hover {
  cursor: pointer;
  background-color: rgb(240, 189, 218);
  box-shadow: 0 0 20px rgb(245, 38, 38);
}
.rectangle {
  background-color: #2c8107;
  flex-wrap: wrap;
  /* margin-right: 120px; */
  margin-top: 20px;
  display: none;
  justify-content: center;
  border: 10px solid white;
  border-radius: 15px;
}

.image img {
  cursor: pointer;
  width: 50px;
}
/* js */
.visible {
  display: block !important;
}
/* Styles par défaut (bureau) */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.header,
.footer {
  text-align: center;
  background-color: transparent;
  color: white;
  padding: 20px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.image,
.info {
  width: 106px;
}

.image img {
  width: 100%;
  height: auto;
}

.image img {
  max-width: 80%;
}
@media (max-width: 768px) {
  .terrain-foot {
    display: flex;
    justify-self: center;
    flex-direction: column-reverse;
    gap: 65px;
    margin: 30px;
  }
  .terrain {
    align-self: center;
  }
  .bg-add-player {
    width: 70%;
  }
  .logo img {
    width: 95px;
  }
}

@media (max-width: 428px) {
  .terrain-foot {
    gap: 0;
    width: 100vh;
    margin-bottom: 0;
  }
  .terrain {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../media/terrain de foot .jpg");
    background-size: contain;
    position: relative;
    background-repeat: no-repeat;
    height: 837px;
    width: 106%;
    aspect-ratio: 1 / 1;
    background-position: center;
  }
  .j1,
  .j2,
  .j3,
  .j4,
  .j5,
  .j6,
  .j7,
  .j8,
  .j9,
  .j10,
  .j11 {
    height: 40px;
    width: 40px;
    background-color: #51f60a;
    border-radius: 50%;
    position: absolute;
  }
  .bg-add-player {
    width: 90%;
  }
  .j10 {
    bottom: 142px;
    left: 192px;
  }
  .j9 {
    bottom: 264px;
    left: 75px;
  }
  .j8 {
    bottom: 264px;
    left: 303px;
  }
  .j7 {
    bottom: 340px;
    left: 189px;
  }
  .j11 {
    top: 133px;
    left: 191px;
  }
  .j1 {
    top: 205px;
    left: 90px;
  }
  .j2 {
    top: 205px;
    left: 290px;
  }
  .j5 {
    bottom: 558px;
    left: 188px;
  }
  .j4 {
    bottom: 470px;
    left: 191px;
  }
  .j3 {
    top: 338px;
    right: 304px;
  }
  .j6 {
    bottom: 460px;
    left: 303px;
  }
  .j7 {
    bottom: 390px;
    left: 189px;
  }
  .j8 {
    bottom: 341px;
    left: 271px;
  }
  .j9 {
    bottom: 341px;
    left: 108px;
  }
  .j10 {
    bottom: 270px;
    left: 190px;
  }
  footer {
    margin-top: 0;
  }
  .logo img {
    width: 40px;
  }
}
